.nav-item .active-tab {
  border: 0 !important;
  border-bottom: 2px solid #e36209 !important;
  font-weight: 500;
}

.small-text {
  padding-right: 0.7rem;
}

.nav-item .nav-link:hover:not(.active-tab) {
  border: 0 !important;
  border-bottom: 2px solid #ccc !important;
}
